.root {
    -fx-padding: 20;
    -fx-background-color: #002E5D; /* biru gelap */
    -fx-alignment: center;
}

/* Tombol tetap sama */
.btn, .btn-delete, .btn-update {
    -fx-background-radius: 8;
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-font-size: 18px;
    -fx-padding: 12px 24px;
}

/* Tambah */
.btn {
    -fx-background-color: #00FF00;
}

.btn:hover {
    -fx-background-color: #32CD32;
}

/* Hapus */
.btn-delete {
    -fx-background-color: #f44336;
}

.btn-delete:hover {
    -fx-background-color: #da190b;
}

/* Update */
.btn-update {
    -fx-background-color: #2196F3;
}

.btn-update:hover {
    -fx-background-color: #1976D2;
}

.list-view {
    -fx-background-color: #003366;
    -fx-control-inner-background: #003366;
    -fx-text-fill: white;
    -fx-border-color: #005599;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
}

.list-cell {
    -fx-font-size: 16px;
    -fx-padding: 10;
    -fx-text-fill: white;
    -fx-background-color: transparent;
}

#inputField {
    -fx-font-size: 18px;
    -fx-padding: 10px;
    -fx-pref-height: 45px;
    -fx-background-color: #003366;
    -fx-text-fill: white;
    -fx-prompt-text-fill: #CCCCCC;
    -fx-border-color: #005599;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
}
